name: Build documentation

on:
  push:
    tags:
      - "*"

jobs:
  build_docs:
    name: Build docs 
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up python
        uses: actions/setup-python@v6
        with:
          python-version: 3.14
          cache: 'pip'

      - name: Get latest CMake
        uses: lukka/get-cmake@latest

      - name: Build docs
        run: |
          touch src/singler/lib_singler.py
          pip install tox
          tox -e docs

      - name: GH Pages Deployment
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: ./docs/_build/html
          clean: true # Automatically remove deleted files from the deploy branch
